.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
server/lib/**
server/src/**
server/node_modules/**
!server/server.js
!server/server.js.map
!shared/**/*.js
webpack.config.js
package-lock.json
*.vsix